


.container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.7rem;
flex-wrap: wrap;
}

.smalltext{
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
}
@media screen and (min-width:460px){
    .infocontainer{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
.headingcontent{
    color: purple;
    font-size: 1.8rem;
}
.infocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 3px;
    padding: 1rem;
    background-color: white;
    justify-content: space-evenly;
    border-radius: 25px;
   transition: all;
}
@media screen and (min-width:430px){
    .infocontainer{
       display: grid;
       grid-template-columns: repeat(1,1fr);
    }
}
.infocontainer:hover{
    scale:1.1;
}
.contentcontainer{
    display: flex;
    flex-direction: column;
}

.imgcontainer{
    margin-top:1rem;
    /* border: 1px solid black;
    */
}
.personimage{
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
}
.nameconatiner{
    margin-bottom: 1.5rem;
}
.nametext{
    color: purple;
    font-size: 1.4rem;
    font-weight: 600;
}
.startags{
    /* border: 1px solid black;*/
} 
.star{
    color: blue;
    /* border: 1px solid black; */
}

.descriptiontext{
    max-width: 300px;
    
}
.descriptiontext1{
text-align: center;

}